# logs
*.log
.idea
npm-debug.log*
yarn-error.log*

# dependencies
/node_modules

# cache files
.DS_Store
.npm

# build results
/lib
/dist
/sitedist

# local configs
lauch.json
.vscode
.history
# 测试覆盖率
/coverage

# 本地loader开发测试目录
loader-test-dir