// reset
@import './common.less';
// md文件样式
@import './md-theme.less';

body {
    margin: 0;
    font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    font-size: 12px;
    color: #333;
}
.wrapper {
    .home-header {
        height: 64px;
        position: fixed;
        background: #fff;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        box-shadow: 0 1px 5px 0 rgba(209, 209, 209, 0.7);
        text-align: center;
        line-height: 64px;
        .header-left {
            float: left;
            display: flex;
            padding-left: 40px;
            .header-logo {
                width: 30px;
                height: 30px;
            }
            .header-title {
                padding: 0 37px 0 38px;
                font-size: 20px;
                color: #333;
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: 32px;
                    position: absolute;
                    right: 2px;
                    top: 16px;
                    background: #ebebeb;
                }
            }
            .header-search {
                margin-left: 30px;
                height: 32px;
                line-height: 32px;
                margin: 16px 30px 0 30px;
                i {
                    display: inline-block;
                    line-height: 32px;
                }
                input {
                    border: none;
                }
            }
        }
        .header-right {
            float: right;
            margin-left: 20px;
            ul li {
                display: inline;
                font-size: 14px;
                margin: 0 30px;
            }
        }
    }
    .main-content {
        display: flex;
        margin-top: 104px;
        .slider-nav {
            width: 240px;
            flex: 0 0 240px;
            border-right: 1px solid #ebebeb;
        }
        .nav-parent {
            font-size: 14px;
            color: #333;
            .nav-down-icon{
                display: inline-block;
            }
            .nav-parent-title{
                height: 42px;
                line-height: 42px;
            }
            .nav-child-title {
                height: 42px;
                line-height: 42px;
                cursor: pointer;
                a{
                    display: block;
                    position: relative;
                }
                .router-link-exact-active{
                    background:rgba(106,166,255,0.20);
                    color: #6AA6FF;
                    &::after{
                        content: "";
                        display: block;
                        width: 3px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 2px;
                        background: #2d8cf0;
                    }
                    // color: #6AA6FF;
                }
                a:hover{
                    color: #6AA6FF;
                }
            }
            .nav-parent-title {
                padding-left: 80px;
            }
            .nav-child > div {
                text-align: center;
            }
        }
        .main-wrapper{
            margin-top: -60px;
            flex: 1;
            width: calc(100% - 240px);
            padding-left: 40px;
            margin-right: 130px;
            h3{
                margin:60px 0 10px 0;
            }
            ul{
                padding-left:20px;
                li{
                    line-height:26px;
                    //height:26px;
                     margin-bottom: 20px;
                }
            }
            .md-live-vue-with-md{
              margin-bottom:20px;
              ul>li{
                font-size:14px;
              }
              .md-live-vue{
                border: 1px solid #EBEBEB;
                border-radius: 4px;
                padding:30px;
                +div{
                    border: 1px solid #ebebeb;
                    padding:20px;
                    line-height: 20px;
                    border-top:0;
                }        
            }
            pre{
                border: 1px solid #ebebeb;
                border-top:none;
            }
            }
            table{
                thead>tr{
                    background: rgba(242,245,253,0.50);   
                }
                tr{
                    height:30px; 
                    line-height:30px;
                    text-align:left;
                }
            }
        }
    }
}

// .water-fall {
//     display: flex;
//     .water-fall-column {
//         &.col-2 {
//             width: 50%;
//         }
//     }
// }

