
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}

/* Links */
a{ 
  color: #0645ad; 
  text-decoration:none;
}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

/* Headings */
h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  color:#111111;
  line-height:1em;
  -webkit-font-smoothing: antialiased;
  margin: 30px 0px;
}
h1{ font-size:2.5em; }
h2{ font-size:2em;  border-bottom: 1px solid #CCC; padding-bottom: 10px; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }

/* Elements */
p{
  text-align: justify;
}

img{
  max-width:100%;
  border: 0; 
  -ms-interpolation-mode: bicubic; 
  vertical-align: middle;
}

/* Tables */
table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 100%;
  font-size: 13px;
}

td { 
  vertical-align: top; 
}

table th {
  font-weight: 700;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* Code */
pre, code, tt {
  font-size: 0.98em;
  font-size: 13px;
  line-height: 19px;
}

@media only screen and (min-width: 480px) {
  body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
  body{font-size:16px;}
}
