@import '../../../style/default.less' ;


@dropdown-prefix-cls: ~"@{bview-prefix}-dropdown" ;
@overlay-prefix-cls: ~"@{bview-prefix}-dropdown-overlay" ;
@portal-cls: ~"bview-portal" ;
@dropdown-poartal-cls: ~"bview-dropdown-poartal" ;
@bg: #fff ;

.@{dropdown-prefix-cls} {
    display: inline-block ;
}


.@{overlay-prefix-cls} {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    z-index: 1 ;
}

.@{portal-cls} {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    z-index: @global-z-index ;
}

.@{dropdown-poartal-cls} {
    .dropdown-transition-enter-active , .dropdown-transition-leave-active {
        opacity: 1 ;
        transform: translateY( 0 ) ;
        transition: transform 0.3s , opacity 0.3s ;
    }
    .dropdown-transition-enter , .dropdown-transition-leave-to {
        opacity: 0 ;
        transform: translateY( -8px ) ;
    }
}
