@import '../../../styles/themes/default';
@import '../../../styles/mixins/index';

@normalHeight: 28px;

.nop-selectn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: 200px;
    line-height: 1.14;
}
.nop-selectn-disabled .nop-selectn-selection {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc;
}
.nop-selectn-visible {
    .nop-selectn-selection {
        border-color: #333333;
    }
    .nop-selectn-icon {
        color: #333333 !important;
    }
}
.nop-selectn-selection {
    display: block;
    box-sizing: border-box;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #bbbbbb;
    transition: all 0.2s ease-in-out;
    min-height: @normalHeight;
    position: relative;
    &:hover {
        border-color: #333333;
        .nop-arrow-down-b:before {
            border-color: #333333 transparent transparent transparent !important;
        }
    }
}
.nop-selectn-placeholder {
    display: block;
    height: @normalHeight;
    line-height: @normalHeight;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 24px;
    color: #bbbec4;
}
.nop-selectn-value-label {
    display: block;
    height: @normalHeight - 2px;
    line-height: @normalHeight - 2px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 24px;
    color: #333;
}
.nop-selectn-icon {
    position: absolute;
    top: 5px;
    left: 12px;
    color: #bbbbbb;
}
.nop-selectn-input {
    font-size: 12px;
    width: 100%;
    height: 100%;
    padding: 6px 32px;
    box-sizing: border-box;
    color: #333;
    font-size: 12px;
}
.nop-selectn-mullabel {
    display: block;
    width: 200px;
    max-height: 70px;
    overflow: auto;
    padding: 2px 10px 2px 4px;
    line-height: 28px;
}
.nop-selectn-multag {
    display: inline-block;
    background: #f1f1f6;
    height: 18px;
    line-height: 8px;
    padding: 3px 0 3px 10px;
    margin-right: 6px;
    // margin-bottom: 4px;
    i {
        display: inline-block;
        font-size: 12px;
        padding: 6px;
        transform: scale(0.6);
    }
}
.nop-selectn-dropdown-list {
    width: 100%;
    max-height: 310px;
    overflow: auto;
    padding: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 998;
    box-sizing: border-box;
    .nop-selectn-none {
        color: #495060;
        padding: 8px 26px;
    }
}
.nop-selectn-visible .nop-arrow-down-b::before {
    transform: rotate(180deg);
}
.nop-arrow-down-b {
    position: absolute;
    top: 50%;
    right: 14px;
    line-height: 1;
    margin-top: -3px;
    font-size: 14px;
    color: #80848f;
}
.nop-arrow-down-b::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #80848f transparent transparent transparent;
    transition: all 0.2s ease-in-out;
}

.nop-select-option {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    line-height: 1.4;
    padding: 8px 32px;
    clear: both;
    color: #495060;
    font-size: 12px !important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.nop-select-option:hover,
.nop-select-option.focus {
    background: #f1f1f6;
}
.nop-select-option.selected::before {
    content: '';
    position: absolute;
    left: 16px;
    top: 10px;
    width: 3px;
    height: 5px;
    border-bottom: 2px solid #666666;
    border-right: 2px solid #666666;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nop-select-option.disabled {
    color: #bbbec4;
    cursor: not-allowed;
    background: none;
}
